
<div class="container bootstrap snippet">
    <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a href="#"><b>name here</b></a>
                        made a post.
                    </div>
                    <h6 class="text-muted time"><%= time_ago_in_words(comment.created_at) %>Ago</h6>
                </div>
            </div>
            <div class="post-description">
                <p><%= comment.content %></p>
                <div class="stats">
                    <% if user_signed_in? %>
                    <%= link_to 'Delete', [comment.satellite, comment],
                                    method: :delete,
                                    class: "button"%>


                </div>
                </div>
                </div>
                </div>
            </div>
            <br>
  <% end %>
