

<head>
  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  <script src="https://maps.googleapis.com/maps/api/js?key="></script>

</head>

<body>

<br>
  <form class="form-inline">
  <div class="form-group">
    <input type="textbox" id="address" class="form-control">
     <input type="button" class="btn btn-primary btn-sm" value="Go" onclick="codeAddress()">
  </div>
</form>

  <div class="map_container">
    <div id="map" class="gmaps4rails_map">
      <div id="map_canvas" class="span9">
      </div>
    </div>
  </div>

<% @satellites.each do |satellite| %>
<h1>Satellite: <%= satellite.name %></h1>
<!-- <p>Description: <%= satellite.description %></p> -->
<%= link_to "See More", "/satellites/#{satellite.id}" %>
<% end %>

</body>
