<body id=isspage>

  <h1 id=isstitle>The International Space Station</h1>

  <%= image_tag @satellite.picture %>

  <p>Name: <%= @satellite.name %></p>


  <p>Description: <%= @satellite.description%></p>
  <%= link_to "Back", satellites_path %>
  
</body>
